#dropdown {
    position: sticky;
    top: 155px;
}

body {
    margin: 0;
    background: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
}

.products {
    width: 1325px;
    margin: 0 auto;
}

.content {
    display: flex;
    position: sticky;
    top: 160px;
}
