#dropdown {
    position: sticky;
    top: 155px;
}

body {
    margin: 0;
    background: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
}

.products {
    width: 1325px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 150px;
    float: left;
}

.product {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    margin: 10px 5px 10px 5px;
}

.product-img > img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    word-wrap: break-word;
    width: 300px;
    height: 100px;
}

.product-description {
    width: 1500px;
    margin: 0 auto;
    background-color: #fcffdd;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
}