.product-page {
    width: 1500px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 10px 15px 10px;
    position: relative;
}

.product-right .product-name {
    width: auto;
}

.bottom-row {
    bottom: 0;
}

.bottom-row-right {
    float: right;
}

.bottom-row-right .submit-btn {
    bottom: 15px;
    right: 10px;
    position: absolute;
}