#header {
    display: flow-root;
    background-color: #fffc40;
    border-radius: 5px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

.badge {
    position: absolute;
    padding: 2px 6px;
    background: orange;
    bottom: 20px;
    border-radius: 100%;
}